*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2f4157;
}
.wrapper{
    border: 1px solid white;
    position: absolute;
    width: 80vw;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
}